    .footer {
        display: flex;
        padding: 3rem;
        background-color: red;
        border-top: 4px solid green;
        justify-content: center;
    }
    
    .footer a {
        text-decoration: none;
    }
    
    .footer ul {
        list-style-type: none;
        display: flex;
    }
    
    .footer ul li {
        padding: 2rem;
    }