* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.links {
    display: flex;
}

.logo a {
    text-decoration: none;
    color: white;
}

a {
    font-size: larger;
    font-weight: bolder;
    padding: 8px;
    transition: 1s;
    border-radius: 6px;
}

ul li a:hover {
    background-color: white;
    color: black;
}