        .navbar2 {
            display: flex;
            justify-content: center;
            border-bottom: 1px solid #ccc;
            height: 75px;
            align-items: center;
        }
        
        .navbar2 img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }
        
        .navbar2 a {
            text-decoration: none;
            font-size: larger;
            letter-spacing: 2px;
        }
        
        .navbar2 a:hover {
            border-bottom: 2px solid black;
            transition: 1s;
        }