        .navbar2 {
            display: flex;
            justify-content: center;
            border-bottom: 1px solid #ccc;
            height: 75px;
            align-items: center;
        }
        
        .navbar2 img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }
        
        .navbar2 a {
            text-decoration: none;
            font-size: larger;
            letter-spacing: 2px;
            color: white;
        }
        
        .element {
            padding: 35px;
            margin: 15px;
        }
        
        .navbar2 .element {
            background-color: rgb(8, 8, 8);
            padding: 20px;
            margin: 10 5px;
            display: flex;
            align-items: center;
            border-radius: 6px;
            transition: 0.4;
        }
        
        .navbar2 .element :hover {
            transform: scale(1.05);
        }